.page-plugin-manage {
  .plugin-version-modal .modal-body {
    padding: 0;
  }

  .install-modal .modal-body {
    padding: 0;

    fieldset {
      padding-top: 0;
    }
  }

  nk-tabset .nk-tab-content {
    border-bottom: none;
  }

  .plugin-edit-modal {
    .nk-form-item {
      flex-wrap: wrap;

      .nk-form-item-label {
        width: 100% !important;
      }
    }

    .nk-form-item .nk-validator {
      bottom: initial;
      top: -10px;
    }
  }
}
