<div class="nk-pagination-panel">
  <div class="total-count" *ngIf="showTotalCount">
    <span>Total Count:</span>
    <span>{{ totalCount }}</span>
  </div>
  <div class="page-info">
    <div *ngIf="allowPageSize">
      <span>Pagesize:</span>
      <nk-select [ngModel]="_pageSize" (ngModelChange)="onPageSizeSelectChange($event)">
        <ng-container *ngFor="let item of pageSizeList">
          <nk-option [value]="item" [label]="item"></nk-option>
        </ng-container>
      </nk-select>
    </div>
    <div *ngIf="pages?.length > 0">
      <span>Page:</span>
      <nk-select [allowSearch]="true" [ngModel]="pageIndex" (ngModelChange)="pageClick($event)">
        <ng-container *ngFor="let item of pages">
          <nk-option [value]="item" [label]="item"></nk-option>
        </ng-container>
      </nk-select>
    </div>
  </div>
  <div class="pagination-nav">
    <nk-button (click)="setPage('start')">
      <i class="fa fa-angle-double-left"></i>
    </nk-button>
    <nk-button (click)="setPage('prev')">
      Prev
    </nk-button>
    <nk-button (click)="setPage('next')">
      Next
    </nk-button>
    <nk-button (click)="setPage('end')">
      <i class="fa fa-angle-double-right"></i>
    </nk-button>
  </div>
</div>
