.nk-pagination {
  margin: 0;

  li a {
    padding: 2.5px 8px;
  }

  .pagination-input a {
    padding: 0;

    input {
      height: 22px;
      border: none;
      width: 40px;
      text-align: center;
    }
  }

  .pagesize-bar {
    border: 1px solid #ddd;
    height: 24px;
    display: inline-block;
    border-left: 0;

    select {
      border: none;
      height: 22px;
      outline: none;
      width: 50px;
    }
  }

  .pagination-toolbar {
    line-height: 24px;
    margin-left: 4px;

    a {
      color: #000;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
