<ul class="nk-pagination pagination" [ngClass]="paginationClass">
  <li (click)="pageClick(1)">
    <a href="javascript:;">
      <i class="fa fa-angle-double-left"></i>
    </a>
  </li>
  <li [ngClass]="{disabled: pageIndex <= 1}" (click)="pageClick(pageIndex - 1)">
    <a href="javascript:;">
      <i class="fa fa-angle-left"></i>
    </a>
  </li>
  <ng-container *ngIf="!simpleMode">
    <li *ngFor="let p of pages" [ngClass]="{'active': pageIndex === p.value}" (click)="pageClick(p.value)">
      <a href="javascript:void(0);">{{p.text}}</a>
    </li>
  </ng-container>
  <ng-container *ngIf="simpleMode">
    <li class="pagination-input">
      <a>
        <!-- {{inputValue}} -->
        <input type="text" [(ngModel)]="inputValue" (blur)="handleInputBlur()" (keypress)="handleEnterInput($event)">
      </a>
    </li>
  </ng-container>
  <li [ngClass]="{disabled: pageIndex >= pageCount}" (click)="pageClick(pageIndex + 1)">
    <a href="javascript:void(0);">
      <i class="fa fa-angle-right"></i>
    </a>
  </li>
  <li (click)="pageClick(pageCount)">
    <a href="javascript:void(0);">
      <i class="fa fa-angle-double-right"></i>
    </a>
  </li>
  <li class="pagesize-bar" *ngIf="allowPageSize">
    <select [ngModel]="pageSize" (ngModelChange)="handlePageSizeChange($event)">
      <option *ngFor="let p of pageSizeList" [value]="p">{{p}}</option>
    </select>
  </li>
  <li class="pagination-toolbar" *ngIf="simpleMode">
    <ng-content select="[slot=pagination-toolbar]" #toolbar></ng-content>
  </li>
</ul>
