.nk-radio {
  font-weight: normal;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1;
  padding: 5px 4px;
  cursor: pointer;

  .nk-radio-inner {
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #c0bfc0;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    position: relative;
    box-sizing: content-box;
  }

  .nk-radio-content {
    font-size: 12px;
    color: #272727;
    line-height: 16px;
  }

  input[type=radio] {
    display: none;
  }

  &:hover:not(.nk-radio-disabled) .nk-radio-inner {
    border-color: #3795db;
    box-shadow: 0 0 4px #3795db;
  }

  &.nk-radio-checked {
    .nk-radio-inner {
      background: #0077c7;
      border-color: #0077c7;

      &::before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        border-radius: 50%;
        left: 4px;
        top: 4px;
        display: table;
        width: 6px;
        height: 6px;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      }
    }
  }

  &.nk-radio-disabled {
    cursor: not-allowed;

    .nk-radio-inner {
      background: #f3f3f3;
      border-color: #c0bfc0;

      &::before {
        background: #c0bfc0;
      }
    }

    .nk-radio-content {
      color: #c0bfc0;
    }
  }
}
