.nk-radio {
  font-weight: normal;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1;
  padding: 5px 4px;
  cursor: pointer;

  .nk-radio-inner {
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    position: relative;
  }

  input[type=radio] {
    display: none;
  }

  &:hover:not(.nk-radio-disabled) .nk-radio-inner {
    border-color: #3795db;
    box-shadow: 0 0 3px #3795db;
  }

  &.nk-radio-checked {
    .nk-radio-inner {
      background: #3795db;
      border-color: #3795db;

      &::before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        border-radius: 50%;
        left: 3px;
        top: 3px;
        display: table;
        width: 6px;
        height: 6px;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      }
    }
  }

  &.nk-radio-disabled {
    cursor: not-allowed;

    .nk-radio-inner {
      background: #f1f1f1;
      border-color: #e1e1e1;

      &::before {
        background: #b8b8b8;
      }
    }
  }
}
