<input *ngIf="!isTextarea" [ngClass]="inputClass" [type]="type" [readonly]="readonly" [disabled]="disabled" [placeholder]="placeholder"
  [ngModel]="innerValue" (ngModelChange)="handleModelChange($event)" (blur)="innerBlur($event)" [attr.maxlength]="maxlength > 0 ? maxlength : null">
<i *ngIf="!!icon" [ngClass]="icon" (click)="handleIconClick($event)"></i>
<textarea *ngIf="isTextarea" [ngClass]="inputClass" [rows]="rows" [readonly]="readonly" [disabled]="disabled" [placeholder]="placeholder"
  [ngModel]="innerValue" (ngModelChange)="handleModelChange($event)" (blur)="innerBlur($event)" [attr.maxlength]="maxlength > 0 ? maxlength : null">
</textarea>
