.nk-input-wrap {
  position: relative;
  display: block;
  margin-bottom: 4px;

  > i {
    position: absolute;
    top: 4px;
    right: 4px;
    color: #777677;
    line-height: 16px;
    width: 16px;
    text-align: center;
    cursor: pointer;
  }

  .nk-input-error {
    display: inline-block;
    border: 1px solid #f43f3f;
    position: absolute;
    bottom: calc(100% + 10px);
  }
}

.nk-input {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
  padding: 3px 8px;
  border: 1px solid #c0bfc0;
  background: #ffffff;
  outline: none;
  color: #272727;
  width: 100%;
  border-radius: 2px;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c0bfc0;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: #c0bfc0;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: #c0bfc0;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: #c0bfc0;
  }

  &:active, &:focus {
    border-color: #0077c7;
    box-shadow: 0px 0px 4px #0077c7;
  }

  &.nk-input-readonly, &.nk-input-disabled {
    background: #fcfcfc;
    border-color: #eaeaea;
    box-shadow: none;
  }

  &.nk-input-has-icon {
    padding-right: 20px;
  }
}
