$nk-control-label {
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 0;
  color: #7a7a7a;
  margin-right: 4px;
}

.nk-form-item {
  position: relative;
  margin-bottom: 4px;
  display: flex;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .nk-form-item-label {
    @extend $nk-control-label;
  }

  .nk-form-item-content {
    flex: 1;

    nk-input {
      margin-bottom: 0;
    }
  }
}

.nk-form.nk-form-vertical {
  .nk-form-item {
    flex-direction: column;

    .nk-form-item-content {
      position: relative;
    }
  }
}

.nk-control-label {
  @extend $nk-control-label;
}
