<div class="page-modal-demo">
  <nk-button (click)="showModal('modalShown')">
    Normal Modal
  </nk-button>
  <nk-button (click)="showModal('modal2Shown')">
    Large Modal
  </nk-button>
  <nk-button (click)="showModal('modal3Shown')">
    Custom Width
  </nk-button>
  <nk-button (click)="showModal('modal4Shown')">
    Custom Button Text
  </nk-button>
  <nk-button (click)="showModal('modal5Shown')">
    Draggable Modal
  </nk-button>

  <nk-modal [(shown)]="modalShown" header="Shipping Information">
    <nk-row [gutter]="12">
      <nk-col [span]="8">
        <div class="nk-inline-form-group">
          <label style="width: 60px" class="control-label">Company:</label>
          <nk-input type="text" [(ngModel)]="formInfo.Company"></nk-input>
        </div>
      </nk-col>
      <nk-col [span]="8">
        <div class="nk-inline-form-group">
          <label style="width: 40px" class="control-label">Name:</label>
          <nk-input type="text" [(ngModel)]="formInfo.Name"></nk-input>
        </div>
      </nk-col>
      <nk-col [span]="8">
        <div class="nk-inline-form-group">
          <label style="width: 40px" class="control-label">Phone:</label>
          <nk-input type="text" [(ngModel)]="formInfo.Phone"></nk-input>
        </div>
      </nk-col>
    </nk-row>
    <nk-row [gutter]="12">
      <nk-col>
        <div class="nk-inline-form-group">
          <label style="width: 60px" class="control-label">Address:</label>
          <nk-input type="text" [(ngModel)]="formInfo.Address"></nk-input>
        </div>
      </nk-col>
    </nk-row>
    <nk-row [gutter]="12">
      <nk-col [span]="8">
        <div class="nk-inline-form-group">
          <label style="width: 60px" class="control-label">Country:</label>
          <nk-input type="text" [(ngModel)]="formInfo.Country"></nk-input>
        </div>
      </nk-col>
      <nk-col [span]="8">
        <div class="nk-inline-form-group">
          <label style="width: 40px" class="control-label">City:</label>
          <nk-input type="text" [(ngModel)]="formInfo.City"></nk-input>
        </div>
      </nk-col>
      <nk-col [span]="8">
        <div class="nk-inline-form-group">
          <label style="width: 40px" class="control-label">State:</label>
          <nk-input type="text" [(ngModel)]="formInfo.State"></nk-input>
        </div>
      </nk-col>
    </nk-row>
    <nk-row [gutter]="12">
      <nk-col [span]="8">
        <div class="nk-inline-form-group">
          <label style="width: 60px" class="control-label">Zip Code:</label>
          <nk-input type="text" [(ngModel)]="formInfo.ZipCode"></nk-input>
        </div>
      </nk-col>
      <nk-col [span]="8">
        <div class="nk-inline-form-group">
          <label style="width: 40px" class="control-label">Fax:</label>
          <nk-input type="text" [(ngModel)]="formInfo.Fax"></nk-input>
        </div>
      </nk-col>
    </nk-row>
    <div>
      <nk-switch [(ngModel)]="formInfo.SameAsBiling">Same as Billing</nk-switch>
      <nk-switch [(ngModel)]="formInfo.ByPass">By Pass QAS</nk-switch>
    </div>
    <div slot="modal-footer">

    </div>
  </nk-modal>
  <nk-modal [(shown)]="modal2Shown" size="lg" header="Large Modal">
    大号的弹出层
  </nk-modal>
  <nk-modal [(shown)]="modal3Shown" size="lg" header="Custom Width" [width]="400">
    设定宽度=200的弹出层
  </nk-modal>
  <nk-modal [(shown)]="modal4Shown" header="Custom Button Text" okText="OK" cancelText="Cancel2">
    自定义OkText
  </nk-modal>
  <nk-modal [(shown)]="modal5Shown" header="点我拖拽" [draggable]="true" (onOk)="onOkBtnClick()">
    一个可以被拖拽的弹出层，点击
    <b>OK Button</b>有惊喜哦！
  </nk-modal>
</div>
