.nk-form-item {
  position: relative;
  overflow: hidden;

  .nk-form-item-label {
    float: left;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 0;
  }

  .nk-form-item-content {
    float: left;
  }
}
