.nk-button {
  border-radius: 2px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 8px;
  color: #272727;
  line-height: 16px;
  border: 1px solid #c0bfc0;
  background: #ffffff;
  margin-bottom: 4px;
  outline: none;

  &:hover, &:active {
    color: #0077c7;
    border-color: #0077c7;
  }

  &.nk-button-disabled {
    cursor: not-allowed;
    background: #f3f3f3 !important;
    color: #c0bfc0 !important;
    border-color: #c0bfc0 !important;
  }

  &.nk-button-primary {
    background: #0077c7;
    border-color: #0077c7;
    color: #fff;

    &:hover, &:active {
      background: #3d97d4;
      border-color: #3d97d4;
      box-shadow: 0 0 4px 0 #0077c7;

      &.nk-button-disabled {
        box-shadow: initial;
      }
    }
  }

  &.nk-button-danger {
    background: #f43f3f;
    border-color: #f43f3f;
    color: #fff;

    &:hover, &:active {
      background: #f66565;
      border-color: #f66565;
    }
  }
}
