/* Loading-overlay styles  */
 .loader {
            position: absolute;
            top: calc(50% - 32px);
            left: calc(50% - 32px);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            perspective: 800px;
            z-index:9999;
        }

        .loader-img {
            width: 48px !important;
            height: 48px !important;
            background-image:url('Silver/loading-image.gif')
        }

