<div class="page-date-picker-demo">
  <div class="row m-b-10">
    <div class="col-md-4">
      <div class="m-b-5">
        <nk-date-picker [(ngModel)]="selectDate"></nk-date-picker>
      </div>
      <div>
        {{ selectDate }}
      </div>
    </div>
    <div class="col-md-4">
      <nk-date-picker [(ngModel)]="selectDate" lang="zh-cn" placeholder="Select Date"></nk-date-picker>
    </div>
    <div class="col-md-4">
      <nk-date-picker [(ngModel)]="selectDate" [disabled]="true"></nk-date-picker>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="m-b-5">
        <nk-date-picker [(ngModel)]="selectMonth" mode="month"></nk-date-picker>
      </div>
      <div>
        {{ selectMonth }}
      </div>
    </div>
    <div class="col-md-4">
      <div class="m-b-5">
        <nk-date-picker [(ngModel)]="selectYear" mode="year"></nk-date-picker>
      </div>
      <div>
        {{ selectYear }}
      </div>
    </div>
  </div>
</div>
