.nk-grid {
  &.table {
    >tbody, >tfoot, >thead {
      >tr>td, >tr>th {
        padding: 3.5px 4px;
      }

      >tr>th {
        background: #eee;
        border-bottom-width: 1px;
      }
    }
  }

  tfoot {
    td {
      padding: 0;
    }

    .dt-toolbar-footer {
      border: none;
      padding: 2px;
    }

    .nk-col {
      line-height: 24px;
      height: 24px;
    }

    .nk-pagination {
      float: right;
      margin-left: 4px;
    }

    .nk-grid-pagesize-select {
      height: 24px;
      width: 40px;
      border-color: #ddd;
      float: right;
    }
  }
}
