<table class="nk-grid table table-striped table-bordered table-hover dataTable" width="100%">
  <thead>
    <tr>
      <th *ngFor="let column of columns" [ngClass]="getHeaderClass(column)" [style.width]="column.styleWidth" (click)="onHeaderClick(column)">{{column.header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataItems, let idx = index" [ngClass]="{odd: idx % 2 === 0, even: idx % 2 === 1}" (click)="rowClick(row, $event)">
      <td *ngFor="let column of columns" [ngClass]="column.contentClass">
        <span *ngIf="!column.cellTemplate">{{row[column.field]}}</span>
        <ng-template [ngIf]="column.cellTemplate" [ngTemplateOutlet]="column.cellTemplate" [ngOutletContext]="{ item: row, column: column }"></ng-template>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="pageable">
    <tr>
      <td [attr.colspan]="columns.length" class="dt-toolbar-footer">
        <nk-row>
          <nk-col [span]="12">
            Showing {{1 + pageSize * (pageIndex - 1)}} to {{currentEndIdx}} of {{_totalCount}} entries
          </nk-col>
          <nk-col [span]="12">
            <nk-pagination [totalCount]="_totalCount" [pageSize]="pageSize" [(ngModel)]="pageIndex"></nk-pagination>
            <select class="nk-grid-pagesize-select" *ngIf="showPageSizeList" [ngModel]="pageSize" (ngModelChange)="onPageSizeSelectChange($event)">
              <option *ngFor="let p of pageSizeList" [value]="p">{{p}}</option>
            </select>
          </nk-col>
        </nk-row>
      </td>
    </tr>
  </tfoot>
</table>
