.nk-grid {
  &.table {
    >tbody, >tfoot, >thead {
      >tr>td, >tr>th {
        padding: 3.5px 4px;
      }

      >tr>th {
        background: #eee;
        border-bottom-width: 1px;
      }
    }
  }
}
