<div class="page-radio-group-demo">
  <div class="flex-display">
    <div>
      <nk-radio-group [(ngModel)]="sex">
        <nk-radio *ngFor="let item of sexList" [value]="item">{{item}}</nk-radio>
      </nk-radio-group>
    </div>
    <div>
      Sex: {{sex}}
    </div>
  </div>
  <div class="flex-display">
    <div>
      <nk-radio-group [(ngModel)]="sex" disabled>
        <nk-radio *ngFor="let item of sexList" [value]="item">{{item}}</nk-radio>
      </nk-radio-group>
    </div>
  </div>
</div>
