.menu-setting {
  .level1 {
    padding-left: 12px;
  }

  .level2 {
    padding-left: 24px;
  }

  .level3 {
    padding-left: 60px;
  }

  .language-config .input-group {
    margin-bottom: 4px;
  }

  .language-config .input-group-addon {
    min-width: 81px;
  }

  .icon-list .col-md-1 {
    margin-bottom: 10px;
  }

  .icon-group a {
    color: #000;

    i.fa-2x {
      font-size: 24px;
    }
  }

  .menu-form {
    .nk-form {
      padding: 4px 16px;
    }

    .material-icons {
      float: left;
    }
  }

  .type-md {
    margin-top: 6px;
  }

  .nk-form-item {
    margin-bottom: 4px;
    overflow: hidden;
  }

  .nk-form-item-content {
    min-height: 24px;
  }
}
