.nk-pagination-panel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -8px 4px -8px;

  >div {
    padding: 0 8px;
  }

  .total-count {
  }

  .page-info {
    display: flex;
    align-items: center;

    >div {
      display: flex;
      align-items: center;

      &+div {
        margin-left: 4px;
      }

      >span {
        margin-right: 4px;
      }

      nk-select {
        width: 60px;
      }
    }
  }

  .pagination-nav {
    .nk-button {
      margin-bottom: 0;
    }
  }
}
