.nk-section, .nk-widget {
  background: #ffffff;
  border-radius: 4px;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .section-heading, .widget-heading {
    border-radius: 4px 4px 0 0;
    padding: 8px;
    display: flex;

    .nk-section-title, .nk-widget-title {
      font-size: 14px;
      color: #272727;
      line-height: 24px;
      font-weight: bold;
      flex: 1;
    }

    .nk-widget-icon {
      width: 16px;
      line-height: 16px;
      color: #c0bfc0;
      font-weight: bold;
      text-align: center;
    }

    .nk-section-toolbar, .widget-toolbar {
      display: flex;
      align-items: center;

      div[slot='toolbar'] {
        margin-right: 8px;
      }
    }
  }

  .nk-section-body, .widget-body {
    padding: 0 8px 8px 8px;
    border-radius: 0 0 4px 4px;
  }
}
