<div class="nk-comp nk-widget">
  <div class="widget-heading" [ngStyle]="headerStyle">
    <span class="cursor-pointer" (click)="handleHeaderClick()">
      <i class="nk-widget-icon fa" [ngClass]="{'fa-angle-right': innerCollapsed, 'fa-angle-down': !innerCollapsed}"></i>
      <b *ngIf="!hasCustomHeader">
        <i [hidden]="!icon" [attr.class]="icon"></i> {{header}}</b>
      <span #customHeader>
        <ng-content select="[slot=header]"></ng-content>
      </span>
    </span>
    <span class="widget-toolbar">
      <ng-content select="[slot=toolbar]"></ng-content>
    </span>
  </div>
  <div class="widget-body" [hidden]="innerCollapsed">
    <ng-content></ng-content>
  </div>
</div>
