<div class="nk-comp nk-widget">
  <div class="widget-heading">
    <div class="nk-widget-title">
      <i [hidden]="!icon" [attr.class]="icon"></i>
      {{header}}
    </div>
    <div class="widget-toolbar">
      <ng-content select="[slot=toolbar]"></ng-content>
      <span class="cursor-pointer" (click)="handleHeaderClick()">
        <i class="nk-widget-icon fa" [ngClass]="{'fa-angle-down': innerCollapsed, 'fa-angle-up': !innerCollapsed}"></i>
      </span>
    </div>
  </div>
  <div class="widget-body" [hidden]="innerCollapsed">
    <ng-content></ng-content>
  </div>
</div>
