.margin-top-10 {
  margin-top: 10px;
}

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.nk-text {
  line-height: 24px;
}

.nk-row {
  margin-bottom: 10px;
}

.page-form-demo {
  .flex-display {
    align-items: flex-start !important;
  }

  .width-60 {
    width: 60px;
  }

  .m-t-md {
    margin-top: 8px;
  }
}
