<div class="page-input-demo">
  <div class="flex-display" style="align-items: flex-start">
    <div class="flex-1">
      <nk-input [(ngModel)]="inputValue" placeholder="placeholder"></nk-input>
      <nk-input [(ngModel)]="inputValue2" placeholder="placeholder"></nk-input>
      <nk-input type="password" [(ngModel)]="inputValue3" placeholder="placeholder"></nk-input>
      <nk-input type="number" [(ngModel)]="inputValue4" placeholder="0"></nk-input>
      <nk-input type="textarea" [(ngModel)]="inputValue2"></nk-input>
    </div>
    <div class="flex-1">
      <nk-input [(ngModel)]="inputValue" icon="fa fa-search" placeholder="placeholder" (iconClick)="handleIconClick($event)"></nk-input>
      <nk-input [(ngModel)]="inputValue2" icon="fa fa-search" placeholder="placeholder" (iconClick)="handleIconClick($event)"></nk-input>
      <nk-input type="password" icon="fa fa-search" [(ngModel)]="inputValue3" placeholder="placeholder" (iconClick)="handleIconClick($event)"></nk-input>      
    </div>
    <div class="flex-1">
      <nk-input [(ngModel)]="inputValue" placeholder="placeholder" [disabled]="true"></nk-input>
      <nk-input [(ngModel)]="inputValue2" placeholder="placeholder" [disabled]="true"></nk-input>
      <nk-input type="password" [(ngModel)]="inputValue3" placeholder="placeholder" [disabled]="true"></nk-input>
      <nk-input type="number" [(ngModel)]="inputValue4" placeholder="0" [disabled]="true"></nk-input>
      <nk-input type="textarea" [(ngModel)]="inputValue2" [disabled]="true"></nk-input>
    </div>
  </div>  
</div>
