<div class="page-steps-demo">
  <nk-steps>
    <nk-step title="Shipping Information"></nk-step>
    <nk-step title="Billing Information"></nk-step>
    <nk-step title="Order Review"></nk-step>
    <nk-step title="Confirm"></nk-step>
  </nk-steps>
  <hr>
  <nk-steps [active]="1">
    <nk-step title="Shipping Information"></nk-step>
    <nk-step title="Billing Information"></nk-step>
    <nk-step title="Order Review"></nk-step>
    <nk-step title="Confirm"></nk-step>
  </nk-steps>
  <hr>
  <nk-steps [active]="2" [direction]="'vertical'">
    <nk-step></nk-step>
    <nk-step></nk-step>
    <nk-step></nk-step>
    <nk-step title="Confirm"></nk-step>
  </nk-steps>
</div>
