<div class="nk-comp nk-modal" [ngClass]="{'nk-modal-drag': draggable, 'nk-disable-backdrop': disableBackdrop}">
  <div class="modal animated" [ngClass]="animate">
    <div class="modal-dialog" [ngClass]="modalSize" [style.width]="(width ? (width + 'px'): null)">
      <div class="modal-content">
        <div class="modal-header" #modalHeader>
          <ng-content select="[slot=modal-header]"></ng-content>
          <ng-template [ngIf]="!hasCustomHeader">
            <h4 class="modal-title">
              {{header}}
            </h4>
          </ng-template>
          <button type="button" class="colse" (click)="hideModal()">
            <i class="fa fa-remove"></i>
          </button>
        </div>
        <div class="modal-body" [style.paddingBottom]="modalFooter?.offsetHeight == 16 ? '0' : null">          
          <ng-content></ng-content>
        </div>
        <div class="modal-footer" #modalFooter>
          <ng-content select="[slot=modal-footer]"></ng-content>
          <ng-template [ngIf]="!hasCustomFooter">            
            <nk-button type="primary" (click)="onOkClick()">{{okText}}</nk-button>
            <nk-button (click)="onCancelClick()">{{cancelText}}</nk-button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
