.nk-modal {
  .modal-header {
    padding: 4px;
    padding-right: 8px;

    .close {
      height: 14px;
      margin-top: 0;
    }

    h4 {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .modal-body {
    padding: 4px;
    min-height: 100px;
  }

  .modal-footer{
    padding: 4px;
  }

  &.nk-modal-drag {
    .modal-dialog {
      position: absolute;
      top: 30px;
      margin: 0;
    }

    .modal-header {
      cursor: move;
    }
  }
}
