<div class="page-alert-demo">
  <div class="flex-display">
    <div class="flex-1">
      <nk-alert [header]="'Information'" (onClose)="onClose()">
        This is info alert
      </nk-alert>
    </div>
    <div class="flex-1">
      <nk-alert [header]="'Success'" type="success" (onClose)="onClose()">
        This is success alert
      </nk-alert>
    </div>
    <div class="flex-1">
      <nk-alert [header]="'Warning'" type="warning" (onClose)="onClose()">
        This is warning alert
      </nk-alert>
    </div>
    <div class="flex-1">
      <nk-alert [header]="'Danger'" type="danger" (onClose)="onClose()">
        This is danger alert
      </nk-alert>
    </div>
  </div>
  <div class="flex-display">
    <div class="flex-1">
      <nk-alert [header]="'Custom Header'" [closable]="false">
        I can not be closed
      </nk-alert>
    </div>
  </div>
  <div>
    <nk-alert [header]="'Block Messages'" type="warning" [inline]="false">
      Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna,
      vel scelerisque nisl consectetur et.
    </nk-alert>
  </div>
  <div>
    <nk-alert [header]="'Block Messages'" type="danger" [inline]="false">
      Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna,
      vel scelerisque nisl consectetur et.
      <p class="text-align-left">
        <br>
        <nk-button>Action Button</nk-button>
      </p>
    </nk-alert>
  </div>
</div>
