.nk-steps {
  display: flex;
}

.nk-steps--horizontal {
  white-space: nowrap;

  .nk-step {
    margin-right: 20px;

    &:last-child {
      margin-right: initial;
    }
  }
}

.nk-steps--vertical {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;

  .nk-step {
    margin-bottom: 8px;
  }
}

.nk-step {
  .nk-step__head {
    display: flex;
    align-items: center;
  }
}

.nk-step__head {
  .nk-step__icon {
    position: relative;
    z-index: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    -webkit-transition: 0.15s ease-out;
    transition: 0.15s ease-out;

    &.is-text {
      border-radius: 50%;
      border: 1px solid;
      border-color: inherit;
    }

    .nk-step__icon-inner {
      display: inline-block;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-align: center;
      color: inherit;
      height: 24px;
      line-height: 24px;
    }
  }

  .nk-step__title {
    font-size: 12px;
    line-height: 16px;
    margin-left: 4px;
  }

  &.is-wait {
    color: #777677;
  }

  &.is-process {
    color: #272727;

    .nk-step__icon {
      color: #0077c7;
      border-color: #0077c7;
      box-shadow: 0 0 4px 0 #0077c7;
    }
  }

  &.is-finish {
    color: #0077c7;

    .nk-step__icon {
      color: #ffffff;
      border-color: #0077c7;
      background: #0077c7;
    }
  }
}
