<div class="nk-collapse-box" [ngClass]="{'nk-collapse-box-disabled': disabled}">
  <div class="collapse-box-header">
    <span class="cursor-pointer" (click)="handleHeaderClick()">
      <i class="nk-collapse-icon fa" [ngClass]="{'fa-angle-right': innerCollapsed, 'fa-angle-down': !innerCollapsed}"></i>
      <b>{{header}}</b>
    </span>
    <span class="nk-collapse-box-line"></span>
    <span>
      <ng-content select="[slot=box-tools]"></ng-content>
    </span>
  </div>
  <div class="collapse-box-content" [hidden]="innerCollapsed">
    <ng-content></ng-content>
  </div>
  <div class="clearfix"></div>
</div>
