.select2 {
  &.select2-container {
    &.select2-container--open, &.select2-container-focus {
      .select2-selection {
        background: #ffffff;
        border: 1px solid #0077c7;
        box-shadow: 0 0 4px 0 #0077c7;
      }
    }

    &.select2-container--disabled {
      .select2-selection {
        background: #fcfcfc;
        border: 1px solid #eaeaea;
        cursor: not-allowed;
      }
    }

    .select2-selection--single {
      $height = 24px;
      height: $height;

      .select2-selection__rendered {
        line-height: $height;
        padding-right: 16px;

        .select2-selection__placeholder {
          color: #c0bfc0;
          font-size: 12px;
          line-height: $height;
        }
      }

      .select2-selection__arrow {
        height: 24px;
        top: 0;
        width: 16px;

        b {
          border-color: #777677 transparent transparent transparent;
        }
      }
    }

    .select2-selection {
      outline: none;
      border-radius: 2px !important;
    }
  }
}

.select2-container.select2-container--default.select2-container--open {
  >.select2-dropdown {
    margin-top: 4px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #0077c7;
    box-shadow: 0 0 4px 0 #0077c7;

    .select2-search--dropdown {
      padding: 2px;

      input[type='search'] {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 16px;
        padding: 3px 8px !important;
        border: 1px solid #c0bfc0 !important;
        background: #fff;
        outline: none;
        color: #272727;
        width: 100% !important;
        border-radius: 2px;
      }
    }

    .select2-results__options {
      padding: 2px 0 4px 0;

      /* 设置滚动条的样式 */
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* 滚动条滑块 */
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #c0bfc0;
      }

      .select2-results__option {
        background: #ffffff;        
        padding: 4px;
        line-height: 16px;
        color: #000000;

        &[aria-disabled='true'] {
          background: rgba(0, 0, 0, 0.1);
          color: #777677;
        }

        &:not([aria-disabled='true']) {
          &:hover, &.select2-results__option--highlighted, &[aria-selected='true'] {
            background: #0077c7;
            color: #ffffff;
          }
        }
      }
    }
  }
}
