.nk-checkbox {
  font-weight: normal;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1;
  padding: 5px 4px;
  cursor: pointer;

  .nk-checkbox-inner {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #c0bfc0;
    background: #ffffff;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    position: relative;
    box-sizing: content-box;
  }

  .nk-checkbox-content {
    user-select: none;
    font-size: 12px;
    color: #272727;
    line-height: 16px;
  }

  input[type=checkbox] {
    display: none;
  }

  &:hover:not(.nk-checkbox-disabled) .nk-checkbox-inner {
    border-color: #0077c7;
    box-shadow: 0 0 4px #0077c7;
  }

  &.nk-checkbox-checked {
    .nk-checkbox-inner {
      background: #0077c7;
      border-color: #0077c7;

      &::before {
        content: '';
        position: absolute;
        transform: rotate(45deg) scale(1);
        left: 5.4px;
        top: 2.3px;
        display: table;
        width: 4.5px;
        height: 8px;
        border: 1px solid #fff;
        border-top: 0;
        border-left: 0;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      }
    }
  }

  &.nk-checkbox-disabled {
    cursor: not-allowed;

    .nk-checkbox-inner {
      background: #f3f3f3;
      border-color: #c0bfc0;

      &::before {
        border-color: #c0bfc0;
      }
    }

    .nk-checkbox-content {
      color: #c0bfc0;
    }
  }
}
