<div class="app">
  <aside class="left-panel">
    <ul class="menu-sidebar">
      <li *ngFor="let m1 of menuData" routerLinkActive="active open" [routerLinkActiveOptions]="{exact: true}" [class.open]="m1.open">
        <a href="javascript: void(0)" (click)="toggleMenuState(m1)" *ngIf="m1.subMenu && m1.subMenu.length > 0; else aLink">
          <i class="fa fa-fw" [ngClass]="m1.icon"></i>
          <span class="menu-item-parent">{{m1.text}}</span>
          <b class="collapse-sign">
            <em class="fa" [class.fa-angle-up]="m1.open" [class.fa-angle-down]="!m1.open"></em>
          </b>
        </a>
        <ng-template #aLink>
          <a routerLink="{{m1.url}}" [title]="m1.text" class="level1">
            <i class="fa fa-fw" [ngClass]="m1.icon"></i>
            <span class="menu-item-parent">{{m1.text}}</span>
          </a>
        </ng-template>

        <ul *ngIf="m1.subMenu && m1.subMenu.length > 0">
          <li *ngFor="let m2 of m1.subMenu" routerLinkActive="active">
            <a routerLink="{{m2.url}}" [title]="m2.text" class="level2">
              <i class="fa fa-circle-o"></i>
              <span class="menu-item-parent">{{m2.text}}</span>
              <b class="collapse-sign" *ngIf="m2.subMenu && m2.subMenu.length > 0">
                <em class="fa" [class.fa-angle-up]="m2.open" [class.fa-angle-down]="!m2.open"></em>
              </b>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  <div class="page-content" style="opacity: 1;">
    <router-outlet></router-outlet>
  </div>
</div>
