.k-widget {
  color: #222;

  .k-input {
    height: 22px;
    padding: 0 8px;
  }
}

.k-autocomplete.k-state-focused, .k-combobox .k-state-active, .k-combobox .k-state-focused, .k-dateinput .k-state-focused, .k-datepicker .k-state-active, .k-datepicker .k-state-focused, .k-datetimepicker .k-state-active, .k-datetimepicker .k-state-focused, .k-multiselect.k-state-focused .k-multiselect-wrap, .k-numerictextbox .k-state-focused, .k-timepicker .k-state-active, .k-timepicker .k-state-focused {
  border-color: #3276b1;
}

.k-dateinput-wrap .k-select, .k-dropdown-wrap .k-select, .k-numeric-wrap .k-select, .k-picker-wrap .k-select {
  padding: 3px;
}

.k-dateinput-wrap, .k-dropdown-wrap, .k-multiselect-wrap, .k-numeric-wrap, .k-picker-wrap {
  border-radius: 0;
}
