.k-button {
  padding-top: 2px;
  padding-bottom: 2px;
}

.k-split-button {
  .k-button-icon {
    height: 24px;
  }
}

/* Button Component reset border-radius */
.k-button, .k-button-group .k-button:first-child, .k-button-group .k-group-start, .k-split-button.k-button-group .k-button:first-child, .k-split-button.k-button-group .k-button:nth-child(2) {
  border-radius: 0;
}
