.k-clear-value, .k-i-loading {
  .k-autocomplete &, .k-dropdown-wrap &, .k-multiselect & {
    top: 2px;
  }
}

.k-autocomplete {
  border-radius: 0;
}

.k-combobox {
  .k-dropdown-wrap {
    height: 24px;

    >.k-i-close {
      right: 30px;
    }
  }
}

.k-multiselect {
  height: 24px;

  .k-multiselect-wrap {
    min-height: auto;

    .k-button {
      min-height: initial;
      margin: 1px 0 0 2px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
