.k-slider {
  .k-button {
    width: 24px;
    height: 24px;
    line-height: 24px;

    .k-icon {
      line-height: 24px;
    }
  }

  &.k-slider-horizontal {
    height: 24px;

    .k-tick {
      margin-top: -1px;
    }
  }
}

.k-switch {
  .k-switch-handle {
    width: 18px;
    height: 18px;
  }

  .k-switch-label-off, .k-switch-label-on {
    line-height: 16px;
  }

  .k-switch-container {
    line-height: 1;
  }
}

/* Textbox */
.k-textbox {
  height: 24px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  border-radius: 0;

  &:focus {
    border-color: #3276b1;
  }
}

.k-numerictextbox {
  .k-link {
    height: 11px;

    .k-icon {
      height: 11px;
    }
  }

  .k-select {
    padding: 0;
  }

  .k-link-increase>.k-icon {
    bottom: 0;
  }

  .k-link-decrease>.k-icon {
    top: -3px;
  }
}
