<div class="page-progress-demo">
  <div class="row">
    <div class="col-xs-6">
      <nk-progress type="success" [value]="value25"></nk-progress>
      <nk-progress type="info" [value]="value50"></nk-progress>
      <nk-progress type="warning" [value]="value75"></nk-progress>
      <nk-progress type="danger" [value]="value100"></nk-progress>
    </div>
    <div class="col-xs-6">
      <nk-progress size="micro" type="success" [value]="value25"></nk-progress>
      <nk-progress size="xs" [value]="value50"></nk-progress>
      <nk-progress size="sm" [value]="value75"></nk-progress>
      <nk-progress [value]="value75"></nk-progress>
      <nk-progress size="lg" [value]="80"></nk-progress>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-3">
      <nk-progress bgColorClass="bg-color-teal" [vertical]="true" [value]="value25"></nk-progress>
      <nk-progress  [vertical]="true" [value]="value50"></nk-progress>
      <nk-progress  [vertical]="true" [value]="value75"></nk-progress>
      <nk-progress  [vertical]="true" [value]="value100"></nk-progress>
    </div>
    <div class="col-xs-3">
      <nk-progress bgColorClass="bg-color-teal" align="bottom" [vertical]="true" [value]="value25"></nk-progress>
      <nk-progress  align="bottom" [vertical]="true" [value]="value50"></nk-progress>
      <nk-progress  align="bottom" [vertical]="true" [value]="value75"></nk-progress>
      <nk-progress  align="bottom" [vertical]="true" [value]="value100"></nk-progress>
    </div>
    <div class="col-xs-3">
      <nk-progress bgColorClass="bg-color-teal" [vertical]="true" [wideBar]="true" [value]="value25"></nk-progress>
      <nk-progress  [vertical]="true" [wideBar]="true" [value]="value50"></nk-progress>
      <nk-progress  [vertical]="true" [wideBar]="true" [value]="value75"></nk-progress>
      <nk-progress  [vertical]="true" [wideBar]="true" [value]="value100"></nk-progress>
    </div>
    <div class="col-xs-3">
      <nk-progress bgColorClass="bg-color-teal" align="bottom" [vertical]="true" [wideBar]="true" [value]="value25"></nk-progress>
      <nk-progress  align="bottom" [vertical]="true" [wideBar]="true" [value]="value50"></nk-progress>
      <nk-progress  align="bottom" [vertical]="true" [wideBar]="true" [value]="value75"></nk-progress>
      <nk-progress  align="bottom" [vertical]="true" [wideBar]="true" [value]="value100"></nk-progress>
    </div>
  </div> -->
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nk-progress size="lg" [striped]="true" [value]="value25"></nk-progress>
      <nk-progress size="sm" [active]="true" [striped]="true" [value]="value75"></nk-progress>
    </div>
  </div>
</div>
