.sa-date-picker {
  position: relative;

  &.disabled {
    pointer-events: none;

    input {
      background: #fcfcfc;
      border-color: #eaeaea;
      color: #c0bfc0;
    }

    .input-icon {
      color: #c0bfc0;
    }
  }

  &.show-picker {
    .nk-input {
      border: 1px solid #0077c7;
      box-shadow: 0 0 4px 0 #0077c7;
    }

    .input-icon {
      color: #0077c7;
    }
  }

  input.form-control {
    background: #fff;
  }

  .input-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    line-height: 16px;
    width: 16px;
    text-align: center;
  }

  .picker-panel {
    position: absolute;
    background: #fff;
    top: calc(100% + 4px);
    right: 0;
    width: 178px;
    border: 1px solid #0077c7;
    box-shadow: 0 0 4px 0 #0077c7;
    border-radius: 2px;
    z-index: 2;
  }

  .picker-panel-header {
    position: relative;
    height: 22px;
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
    background: #ffffff;
    padding: 3px 8px;
    border-bottom: 1px solid #0077c7;

    &.year-mode {
      .prev-year {
        >i.fa-caret-left:last-child {
          margin-left: 0;
        }
      }

      .next-year {
        >i.fa-caret-right:first-child {
          margin-right: 0;
        }
      }
    }

    > span {
      color: #0077c7;
      position: absolute;
      top: 3px;
      font-size: 12px;
      line-height: 16px;
      cursor: pointer;
    }

    .prev-year {
      left: 8px;
      width: 20px;

      >i.fa-caret-left:last-child {
        margin-left: -3px;
      }
    }

    .prev-month {
      left: 32px;
    }

    .next-month {
      right: 32px;
    }

    .next-year {
      right: 8px;
      width: 20px;
      text-align: right;

      >i.fa-caret-right:first-child {
        margin-right: -3px;
      }
    }

    .set-year-month {
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;

      >span {
        color: #0077c7;
      }
    }
  }

  .picker-panel-content {
    padding: 5px;
    user-select: none;

    table {
      // width: 100%;
      border-collapse: collapse;
    }

    th, td {
      font-size: 12px;
      text-align: center;
      padding: 2px;

      >span {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 2px;
        color: #272727;
        text-align: center;
      }
    }

    .ym-panel td >span {
      width: 52px;
      height: 38px;
      line-height: 36px;
    }

    th {
      >span {
        color: #777677;
      }
    }

    td {
      cursor: pointer;

      &.day-next, &.day-prev {
        >span {
          color: #c0bfc0;
        }
      }

      >span:hover, &.selected >span {
        background: #0077c7 !important;
        color: #fff !important;
        border: 1px solid #0077c7 !important;
      }

      &.current>span {
        background: #d6e9f5;
        color: #0077c7;
        border: 1px solid #d6e9f5;
      }
    }
  }

  .picker-panel-footer {
    height: 22px;
    border-top: 1px solid #0077c7;
    background: #ffffff;
    line-height: 21px;
    color: #0077c7;
    text-align: center;
    cursor: pointer;
  }
}
