.page-demo-container {
  .document-container {
    background: #fff;
  }

  .markdown-body {
    font-size: 14px;

    .highlight pre, pre {
      font-size: 100%;
      padding: 8px;
    }
  }

  .padding-10 {
    padding: 10px;
  }

  .m-10 {
    margin: 10px;
  }

  .m-b-5 {
    margin-bottom: 5px;
  }

  .m-b-10 {
    margin-bottom: 10px;
  }

  .flex-display {
    display: flex;
    align-items: center;
    margin: 0 -12px;

    >div {
      padding: 0 12px;
      margin-bottom: 8px;
    }

    .flex-1 {
      flex: 1;
    }
  }
}
