<div class="page-demo-container">
  <nk-collapse-box [header]="isService ? 'Service Demo': 'Component Demo'" icon="fa fa-file">
    <div class="padding-10">
      <div class="demo-page-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </nk-collapse-box>
  <div class="margin-top-20"></div>
  <nk-collapse-box [header]="isService ? 'Service Document': 'Component Document'" icon="fa fa-book">
    <div class="padding-10">
      <div class="document-container">
        <markdown-box [markdown]="componentDocument"></markdown-box>
      </div>
    </div>
  </nk-collapse-box>
</div>
