<div class="page-checkbox-group-demo">
  <div class="flex-display">
    <div>
      <nk-checkbox-group [(ngModel)]="selectedLanguages">
        <nk-checkbox *ngFor="let item of languageList" [value]="item" [disabled]="item === 'Java'">{{item}}</nk-checkbox>
      </nk-checkbox-group>
    </div>
    <div>
      Value: {{ selectedLanguages | json }}
    </div>
  </div>
  <div class="flex-display">
    <div>
      <nk-checkbox-group [(ngModel)]="selectedLanguages" [disabled]="true">
        <nk-checkbox *ngFor="let item of languageList" [value]="item">{{item}}</nk-checkbox>
      </nk-checkbox-group>
    </div>
  </div>
</div>
