<div class="page-button-demo">
  <div class="flex-display">
    <div>
      <nk-button type="primary" (click)="handleBtnClick()">Save Order</nk-button>
      <nk-button type="normal" (click)="handleBtnClick()">Cancel</nk-button>
      <nk-button type="danger" (click)="handleBtnClick()">Delete</nk-button>
    </div>
    <div>
      <nk-button type="primary" icon="fa fa-save" (click)="handleBtnClick()">Save Order</nk-button>
      <nk-button type="normal" icon="fa fa-times" (click)="handleBtnClick()">Cancel</nk-button>
      <nk-button type="danger" icon="fa fa-trash" (click)="handleBtnClick()">Delete</nk-button>
    </div>
  </div>
  <div class="flex-display">
    <div>
      <nk-button type="primary" [disabled]="true" (click)="handleBtnClick()">Save Order</nk-button>
      <nk-button type="normal" [disabled]="true" (click)="handleBtnClick()">Cancel</nk-button>
      <nk-button type="danger" [disabled]="true" (click)="handleBtnClick()">Delete</nk-button>
    </div>
    <div>
      <nk-button type="primary" icon="fa fa-save" [disabled]="true" (click)="handleBtnClick()">Save Order</nk-button>
      <nk-button type="normal" icon="fa fa-times" [disabled]="true" (click)="handleBtnClick()">Cancel</nk-button>
      <nk-button type="danger" icon="fa fa-trash" [disabled]="true" (click)="handleBtnClick()">Delete</nk-button>
    </div>
  </div>
  <div>
    <nk-button width="150px" (click)="handleBtnClick()">固定宽度150px</nk-button>
    <nk-button [width]="250" (click)="handleBtnClick()">固定宽度250px</nk-button>
    <nk-button width="30%" (click)="handleBtnClick()">宽度30%</nk-button>
  </div>
</div>
