.nk-time-range-picker {
  .picker-panel {
    padding: 8px;

    >div>div {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      &.range-title {
        font-size: 12px;
        color: #777677;
        line-height: 16px;

        &:not(:first-child) {
          margin-top: 8px;
        }
      }
    }

    .picker-panel-main {
      padding: 0;
    }
  }
}
